################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureFunctionDemo
/AzureFunctionDemo/Properties/PublishProfiles
/AzureFunctionDemo/Properties
